@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["HomePage"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["LearnAbout"] <a href="https://docs.microsoft.com/aspnet/core">@Localizer["LearnAboutText"]</a>.</p>
</div>
