@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["HomePage"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["WelcomeMsg"]</h1>
    <p>@Localizer["WelcomeMsg-1"]<a href="https://docs.microsoft.com/aspnet/core">@Localizer["WelcomeMsg-2"]</a>.</p>
</div>
