@page
@using Microsoft.AspNetCore.Mvc.Localization
@model AccessDeniedModel
@{
    ViewData["Title"] = Localizer["AccessDenied"];
}
@inject IViewLocalizer Localizer

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["AccessDeniedResource"]</p>
</header>