@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = @Localizer["ConfirmEmailChange"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />